In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=22de85284e674e83c6132e4126f0cbe5323d882bd3bddef48fed5358e4179036
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark
import pandas as pd
pd.read_csv('/content/test1.csv')

       Name   Age   Exp      sal
0    Shivam  20.0  12.0  22000.0
1  Dynanesh  21.0  11.0  23000.0
2     Ameer  23.0  10.0  24000.0
3      anas  22.0   9.0  25009.0
4    pratik   NaN   8.0      NaN
5    mahesh   NaN   4.0  22000.0
6       NaN  22.0   NaN      NaN
7       NaN  33.0   NaN  10000.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/test.csv')

first entry of csv file making it as a header else it show like this
+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|  Shivam| 20|
|Dynanesh| 21|
|   Ameer| 23|
|    anas| 22|
+--------+---+

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/test.csv')

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

by default it takes each column as string but if we use inferschema then it decides accurately

In [ ]:
df_pyspark=spark.read.option('header','true').csv('/content/test.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:
df_pyspark.columns

['Name', 'Age']

In [ ]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|  Shivam|
|Dynanesh|
|   Ameer|
|    anas|
+--------+

In [ ]:
df_pyspark.describe().show()

+-------+-----+------------------+
|summary| Name|               Age|
+-------+-----+------------------+
|  count|    4|                 4|
|   mean| NULL|              21.5|
| stddev| NULL|1.2909944487358058|
|    min|Ameer|                20|
|    max| anas|                23|
+-------+-----+------------------+

In [ ]:
### Adding columns in data frame
df_pyspark.withColumn('Age after 2 year',df_pyspark['Age']+2).show()

+--------+---+----------------+
|    Name|Age|Age after 2 year|
+--------+---+----------------+
|  Shivam| 20|              22|
|Dynanesh| 21|              23|
|   Ameer| 23|              25|
|    anas| 22|              24|
+--------+---+----------------+

In [ ]:
df_pyspark=df_pyspark.drop('Age after 2 year')

In [ ]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|  Shivam| 20|
|Dynanesh| 21|
|   Ameer| 23|
|    anas| 22|
+--------+---+

In [ ]:
df_pyspark.withColumnRenamed('Name','Naaaame').show()

+--------+---+
| Naaaame|Age|
+--------+---+
|  Shivam| 20|
|Dynanesh| 21|
|   Ameer| 23|
|    anas| 22|
+--------+---+

In [ ]:
df_spark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [ ]:
df_spark.na.drop().show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
+--------+---+---+-----+

In [ ]:
### any=how
df_spark.na.drop(how="any").show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
+--------+---+---+-----+

In [ ]:
### threshold
df_spark.na.drop(how="any",thresh=2).show()

+--------+----+----+-----+
|    Name| Age| Exp|  sal|
+--------+----+----+-----+
|  Shivam|  20|  12|22000|
|Dynanesh|  21|  11|23000|
|   Ameer|  23|  10|24000|
|    anas|  22|   9|25009|
|  pratik|NULL|   8| NULL|
|  mahesh|NULL|   4|22000|
|    NULL|  33|NULL|10000|
+--------+----+----+-----+

In [ ]:
### subset->applying to particular columns
df_spark.na.drop(how="any",subset=['Age']).show()

+--------+---+----+-----+
|    Name|Age| Exp|  sal|
+--------+---+----+-----+
|  Shivam| 20|  12|22000|
|Dynanesh| 21|  11|23000|
|   Ameer| 23|  10|24000|
|    anas| 22|   9|25009|
|    NULL| 22|NULL| NULL|
|    NULL| 33|NULL|10000|
+--------+---+----+-----+

In [ ]:
df_spark.na.fill('Missing Values',['Name','sal']).show()

+--------------+----+----+-----+
|          Name| Age| Exp|  sal|
+--------------+----+----+-----+
|        Shivam|  20|  12|22000|
|      Dynanesh|  21|  11|23000|
|         Ameer|  23|  10|24000|
|          anas|  22|   9|25009|
|        pratik|NULL|   8| NULL|
|        mahesh|NULL|   4|22000|
|Missing Values|  22|NULL| NULL|
|Missing Values|  33|NULL|10000|
+--------------+----+----+-----+

In [ ]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['Age','Exp','sal'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Exp','sal']]
).setStrategy("mean")

In [ ]:
imputer.fit(df_spark).transform(df_spark).show()

+--------+----+----+-----+-----------+-----------+-----------+
|    Name| Age| Exp|  sal|Age_imputed|Exp_imputed|sal_imputed|
+--------+----+----+-----+-----------+-----------+-----------+
|  Shivam|  20|  12|22000|         20|         12|      22000|
|Dynanesh|  21|  11|23000|         21|         11|      23000|
|   Ameer|  23|  10|24000|         23|         10|      24000|
|    anas|  22|   9|25009|         22|          9|      25009|
|  pratik|NULL|   8| NULL|         23|          8|      21001|
|  mahesh|NULL|   4|22000|         23|          4|      22000|
|    NULL|  22|NULL| NULL|         22|          9|      21001|
|    NULL|  33|NULL|10000|         33|          9|      10000|
+--------+----+----+-----+-----------+-----------+-----------+

In [ ]:
df_filter=spark.read.csv('/content/test2_filter.csv',header=True,inferSchema=True)
df_filter.show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
|  pratik| 11|  8|33000|
|  mahesh| 22|  4|22000|
+--------+---+---+-----+

In [ ]:
df_filter.filter("sal>=25000").show()

+------+---+---+-----+
|  Name|Age|Exp|  sal|
+------+---+---+-----+
|  anas| 22|  9|25009|
|pratik| 11|  8|33000|
+------+---+---+-----+

In [ ]:
df_filter.filter("sal>=24000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
| Ameer| 23|
|  anas| 22|
|pratik| 11|
+------+---+

In [ ]:
df_filter.filter((df_filter['sal']>=20000) | (df_filter['sal']<=25000)).show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
|  pratik| 11|  8|33000|
|  mahesh| 22|  4|22000|
+--------+---+---+-----+

In [ ]:
df_filter.filter(~(df_filter['sal']<=20000)).show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
|  pratik| 11|  8|33000|
|  mahesh| 22|  4|22000|
+--------+---+---+-----+

In [ ]:
df_pyspark=spark.read.csv('/content/test_aggre.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+--------+------------+-----+
|    Name|      depart|  sal|
+--------+------------+-----+
|  Shivam|data science|22000|
|Dynanesh|         web|23000|
|   Ameer|         web|24000|
|    anas|          ml|25009|
|  pratik|         iot|33000|
|  mahesh|         web|22000|
|  Shivam|          ml|30000|
|   shyam|         iot|19000|
+--------+------------+-----+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- depart: string (nullable = true)
 |-- sal: integer (nullable = true)

In [ ]:
### Grouping by And finding max salary
df_pyspark.groupBy('Name').sum().show()

+--------+--------+
|    Name|sum(sal)|
+--------+--------+
|   Ameer|   24000|
|  pratik|   33000|
|    anas|   25009|
|Dynanesh|   23000|
|  Shivam|   52000|
|   shyam|   19000|
|  mahesh|   22000|
+--------+--------+

In [ ]:
df_pyspark.groupBy('depart').sum().show()

+------------+--------+
|      depart|sum(sal)|
+------------+--------+
|data science|   22000|
|         iot|   52000|
|          ml|   55009|
|         web|   69000|
+------------+--------+

In [ ]:
df_pyspark.groupBy('depart').mean().show()

+------------+--------+
|      depart|avg(sal)|
+------------+--------+
|data science| 22000.0|
|         iot| 26000.0|
|          ml| 27504.5|
|         web| 23000.0|
+------------+--------+

In [ ]:
df_pyspark.groupBy('depart').count().show()

+------------+-----+
|      depart|count|
+------------+-----+
|data science|    1|
|         iot|    2|
|          ml|    2|
|         web|    3|
+------------+-----+

In [ ]:
df_pyspark.groupBy('depart').max().show()

+------------+--------+
|      depart|max(sal)|
+------------+--------+
|data science|   22000|
|         iot|   33000|
|          ml|   30000|
|         web|   24000|
+------------+--------+

In [ ]:
df_pyspark.groupBy('depart').min().show()

+------------+--------+
|      depart|min(sal)|
+------------+--------+
|data science|   22000|
|         iot|   19000|
|          ml|   25009|
|         web|   22000|
+------------+--------+

In [ ]:
training=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [ ]:
training.show()

+--------+---+---+-----+
|    Name|Age|Exp|  sal|
+--------+---+---+-----+
|  Shivam| 20| 12|22000|
|Dynanesh| 21| 11|23000|
|   Ameer| 23| 10|24000|
|    anas| 22|  9|25009|
|  pratik| 11|  8|33000|
|  mahesh| 22|  4|22000|
+--------+---+---+-----+

In [ ]:
training.columns

['Name', 'Age', 'Exp', 'sal']

[Age,experience] --->new feature ---->independent feature

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Exp"],outputCol="Independent column")

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+--------+---+---+-----+------------------+
|    Name|Age|Exp|  sal|Independent column|
+--------+---+---+-----+------------------+
|  Shivam| 20| 12|22000|       [20.0,12.0]|
|Dynanesh| 21| 11|23000|       [21.0,11.0]|
|   Ameer| 23| 10|24000|       [23.0,10.0]|
|    anas| 22|  9|25009|        [22.0,9.0]|
|  pratik| 11|  8|33000|        [11.0,8.0]|
|  mahesh| 22|  4|22000|        [22.0,4.0]|
+--------+---+---+-----+------------------+

In [ ]:
finalized_data=output.select("Independent column","sal")

In [ ]:
finalized_data.show()

+------------------+-----+
|Independent column|  sal|
+------------------+-----+
|       [20.0,12.0]|22000|
|       [21.0,11.0]|23000|
|       [23.0,10.0]|24000|
|        [22.0,9.0]|25009|
|        [11.0,8.0]|33000|
|        [22.0,4.0]|22000|
+------------------+-----+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent column',labelCol='sal')
regressor=regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-543.7216, -1476.5733])

In [ ]:
regressor.intercept

50715.73188180403

In [ ]:
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+------------------+-----+----------------+
|Independent column|  sal|      prediction|
+------------------+-----+----------------+
|        [22.0,4.0]|22000|32847.5632970449|
+------------------+-----+----------------+